@font-face {
    font-family: meows-nepil;
    src: url(meows-nepil-regular.ttf);
}

@font-face {
    font-family: cat-cafe;
    src: url(cat-cafe.ttf);
}


body {
    font-family: cat-cafe;
    font-size: 2em;
    background-color: rgb(255, 227, 231);
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.ball,
.button {
    margin: 0 auto;
}

.answer {
    font-family: cat-cafe;
    text-transform: uppercase;
    text-align: center;
}

#questionButton {
    font-family: cat-cafe;
    border-radius: 5px;
    border: none;
    color: #f8f8f8;
    background-color: #f16059;
    padding: 10px 75px;
    display: block;
    margin: 0 auto;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    padding-top: 50px;
    margin: 2%;
}

.cell {
    text-align: center;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.half {
    grid-column: span 2;
    text-align: left;
    width: 100%;
}

.threequarters {
    grid-column: span 3;
    text-align: left;
}

.logo {
    width: 50%;
}

.full {
    grid-column: span 4;
    width: 100%;
}

img {
    border: 5px solid white;
}

.noborder {
    border: none;
}

.float {
    padding: 30px;
    float: left;
    border: none;
}

.navgrid {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    padding-top: 50px;
}

a,
a:visited {
    color: palevioletred;
    text-decoration: none;
}

a:hover {
    color: #555494;
    text-decoration: none;
}

a:active {
    color: rgb(105, 80, 157);
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: meows-nepil;
    font-size: 8vw;
    color: rgb(217, 62, 111);
}

button {
    display: none;
    background-color: pink;
    font-family: meows-nepil;
    border: none;
    font-size: 1em;
    padding: 30px;
    width: 100%;
    margin: auto;
}

.mobileNav {
    grid-column: span 2;
    animation: appear 1s;
}

.hidden {
    display: none;
}

.mobileNav a {
    display: block;
    background: pink;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 5%
}

@media screen and (max-width: 900px) {

    header {
        grid-template-columns: 1fr auto;
    }

    button {
        display: block;
    }

    .defaultNav {
        display: none;
    }

    .navgrid {
        display: none;
    }

    .content {
        display: block;
        justify-items: center;
        align-items: center;
        padding: 15px;
        margin: 2%;
    }
}

footer {
    color: palevioletred;
    padding: 30px;
    text-align: center;
    background-color: white;
}